* {
   
  font-family: sans-serif;
}
.blog {
  margin: 24px;
  padding: 18px;
  background-color: rgb(240, 242, 244);
}
#image img {
    
    
   
  height: 200px;
  border-radius: 5px;
  text-align: center;
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px;
}
.post1 {
    padding: 18px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-top: 16px;

}
.post2 {
    padding: 18px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-top: 16px;

}
footer{
    margin-top: 24px;
    padding: 16px;
    padding-top: 28px;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
h1{
    text-shadow: 0.5px 0.5px 0.5px grey;
}
h1,h2{
    color: rgb(30, 25, 98);
}
h2{
    padding-bottom: 12px;
    border-bottom: 2px dotted gray;
}
h3{
    color: rgb(70, 70, 70);
}
nav{
    background-color: rgb(60, 154, 212);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 16px 0px;
    
}
nav a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
}